head {
    font-family:sans-serif;
}

.titel{
    background-image: url('titelbackground.jpg');
    margin: 3px;
    color:black;
    width: 99.3%;
    padding: 5px;
    border:2px solid white;
    background-color: white;
    height: 53%;
}

body{
    font-family:sans-serif;
  	background-image: url('backgroundsite.jpg');
    color:black;
}

.nav li{
    display: block;
    margin:5px;
}
.nav li a {
      color:black;
      text-decoration: none;
}

.nav ul {
      margin-right: 3px;
      color:black;
      width: 23%;
      padding: 5px;
      border:2px solid white;
      margin: 1px;
      background-color: white;
      height: 57%;
      position: fixed;
      overflow: auto;
  }


.button1 {
      background-color: #b3ccff;
      padding: 4px 10px;
      border:5px;
      color: black;
      text-align: left;
          }
.button2{
      background-color: white;
      padding: 4px 10px;
      color: black;
      text-align: left;
            }
.button3 {
      background-color: white;
      padding: 4px 10px;
      color: black;
      text-align: left;
              }
.button4 {
      background-color: white;
      padding: 4px 10px;
      color: black;
      text-align: left;
            }
.button5 {
      background-color: white;
      padding: 4px 10px;
      color: black;
      text-align: left;
                }

.button1:hover{
      background-color: #0055ff;
      margin-top: 3px;
    }

.button2:hover{
    background-color: #0055ff;
    margin-top: 3px;
}
.button3:hover{
    background-color: #0055ff;
    margin-top: 3px;
}

.button4:hover{
    background-color: #0055ff;
    margin-top: 3px;
}
.button5:hover{
    background-color: #0055ff;
    margin-top: 3px;
}


.title{
  margin-left:25%;
  padding:5px 16px;
  height:1000px;
  border: 5px solid white;
  border-radius: 25px;
  padding: 10px;
  text-align:center;
  background-color:  #b3ccff;
}

.title2{
  margin-left:25%;
  padding:5px 16px;
  height:500px;
  border: 5px solid white;
  border-radius: 25px;
  padding: 10px;
  text-align:center;
  background-color:  #b3ccff;
}

.tableimg{
  text: center;

}
.tableimg img{
  height:200px;
  width:300px;
}

.ik img{
  align:right;
  height: 300px;
  width: 200px;

}
.mij li {
  text-decoration: none;
  list-style-type: none;

}
 .buttons img{
  height:300px;
  width:250px;
 }

 .techniektekst p {
  text-align: left;
 }


footer{
  padding: 4px 10px;
  border:5px solid white;
  margin-top: 2px;
  margin-bottom: 40px;
  align: left;
  color: black;
  border-radius: 25px;
  overflow: auto;
  margin-left:25%
}
